{% extends "base.html" %}
{% load static %}

<title>Home Page Template</title>

{% block base_head %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block content %}
<body>


{% if request.user.is_authenticated  %}
<div class="row">
  <div class="col"><b>

    Your're logged as:
    {{ request.user.username }}</b>
  </div>
</div>
{% endif %}
{% endblock %}

<div class="row">
  {% for obj in object_list %}
      <div class="col">
      {{ forloop.counter }}
      {% include 'products/snippets/card.html' with instance=obj %}

      {% if forloop.counter|divisibleby:3 %}
        </div> </div> <div class="row"><div class="col-12"><hr/></div>
      {% else %}
        </div>
      {% endif %}
  {% endfor %}
{% endblock %}
